{% extends 'admin/master.html' %}

{% block body %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Status</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pending</td>
        <td>{{ counts.pending }}</td>
      </tr>
      <tr>
        <td>Accepted</td>
        <td>{{ counts.accepted }}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Gender</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Female</td>
        <td>{{ counts.female }}</td>
      </tr>
      <tr>
        <td>Male</td>
        <td>{{ counts.male }}</td>
      </tr>
      <tr>
        <td>Both</td>
        <td>{{ counts.both }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
