{% extends 'admin/master.html' %}

{% block body %}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Status</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="{{ url_for('image.index_view', flt0_9='pending', sort=6, desc=1) }}">Pending</a></td>
        <td>{{ counts.pending }}</td>
      </tr>
      <tr>
        <td><a href="{{ url_for('image.index_view', flt0_9='accepted', sort=6, desc=1) }}">Accepted</a></td>
        <td>{{ counts.accepted }}</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Gender</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Female</td>
        <td>{{ counts.female }}</td>
      </tr>
      <tr>
        <td>Male</td>
        <td>{{ counts.male }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
