{% extends 'layout.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  {% assets filters="cssmin", output="about-%(version)s.css", "styles/about-compiled.css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {% endassets %}
{% endblock %}

{% block body %}
<header>
  <div class="header-content-wrap">
    <div class="header-section">
      <a href="/"><img src="{{ url_for('static', filename='img/diverselogo.png') }}" /></a>
    </div>
    <div class="header-section">
      <a href="/about" class="current">About</a>
      <a href="/submit" class="button">Submit</a>
    </div>
  </div>
</header>
<section class="about">
  <div class="about-section-container">
    <h1>Why</h1>
    <h4>
      Who we assume our users are, and how we represent that in our visuals, affects who those users turn out to be.
      We want those users to be diverse, so we created Diverse UI, where you can find images representative of a diverse population.
      You can read more about why we think diversity in UI mockups is important <a href="https://medium.com/@reneepadgham/techs-diversity-problem-isn-t-only-in-the-hiring-numbers-edf00f7b5e95" target="_blank">here.</a>
    </h4>
  </div>
  <div class="about-section-container">
    <h1>Known Shortcomings</h1>
    <h4>
      Finding these images wasn’t easy. They aren’t perfect. We avoided caricatures, but that doesn’t mean some images don’t feel a bit exaggerated, staged, or professional.
      We didn’t have a good way to recognize or account for preferred gender representation. In fact, <a href="/submit">submitting your photo</a> is one of the best ways to help out.
      You can help us make the most awesome set of real people on the internet.
    </h4>
  </div>
  <div class="about-section-container">
    <h1>Q & A</h1>

  <div class="question">
    <h2>Who built this?</h2>
    <h4>This site was created by <a href="http://reneepadgham.com" target="_blank">Renee Padgham</a> and <a href="http://yef.im" target="_blank">Yefim Vedernikoff</a>.</h4>
  </div>

  <div class="question">
    <h2>How can I add my photo to the collection?</h2>
    <h4>Our favorite question! Use this <a href="/submit">submit form</a>.</h4>
  </div>

  <div class="question">
    <h2>How can I have my photo removed?</h2>
    <h4>E-mail us at <a href="mailto:hello@diverseui.com?subject=Remove%20Photo">hello@diverseui.com</a> with the image! If you didn't submit your image it was found on Google images with the right for reuse indicated, so we also advise checking your permissions on the site on which it was posted.</h4>
  </div>

  <div class="question">
    <h2>Why don’t you have xyz feature?</h2>
    <h4>We wanted to get this out as quickly, in one weekend to be exact, so we went with the bare necessities. We’d love to hear your recommendations for things we should add at <a href="mailto:hello@diverseui.com?subject=Recommendation">hello@diverseui.com!</a></h4>
  </div>

  <div class="question">
    <h2>Why do you have a donate button?</h2>
    <h4>We’re paying out of pocket to cover hosting/database costs, and while we love what we’ve made, we’d also love to find a way to cover those costs.</h4>
  </div>

  </div>

</section>

{% endblock %}
