{% extends 'layout.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  {% assets filters="cssmin", output="dist/home-%(version)s.css", "styles/home-compiled.css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {% endassets %}
{% endblock %}

{% block body %}
  {% if status == 'submitted' %}
    <div class="banner">
      <span class="close-banner">
        <svg width="12" height="12" viewBox="0 0 12 12">
          <path d="M7.06 6l4.72-4.72A.75.75 0 0 0 10.72.22L6 4.94 1.28.22A.75.75 0 1 0 .22 1.28L4.94 6 .22 10.72a.75.75 0 1 0 1.06 1.06L6 7.06l4.72 4.72a.75.75 0 1 0 1.06-1.06L7.06 6z" fill-rule="nonzero" fill="#FFF"/>
        </svg>
      </span>
      <p>Success! Your photo has been submitted for approval.</p>
    </div>
  {% elif status == 'removed' %}
    <div class="banner">
      <span class="close-banner">
        <svg width="12" height="12" viewBox="0 0 12 12">
          <path d="M7.06 6l4.72-4.72A.75.75 0 0 0 10.72.22L6 4.94 1.28.22A.75.75 0 1 0 .22 1.28L4.94 6 .22 10.72a.75.75 0 1 0 1.06 1.06L6 7.06l4.72 4.72a.75.75 0 1 0 1.06-1.06L7.06 6z" fill-rule="nonzero" fill="#FFF"/>
        </svg>
      </span>
      <p>Your photo has been removed - we'll miss you :(</p>
    </div>
  {% elif not dismissed %}
    <div class="remember-close banner">
      <span class="close-banner">
        <svg width="12" height="12" viewBox="0 0 12 12">
          <path d="M7.06 6l4.72-4.72A.75.75 0 0 0 10.72.22L6 4.94 1.28.22A.75.75 0 1 0 .22 1.28L4.94 6 .22 10.72a.75.75 0 1 0 1.06 1.06L6 7.06l4.72 4.72a.75.75 0 1 0 1.06-1.06L7.06 6z" fill-rule="nonzero" fill="#FFF"/>
        </svg>
      </span>
      <a href="https://github.com/reneepadgham/diverseui-sketch-plugin">Hey you&#8230; we have a fancy new Sketch Plugin - check it out!</a>
    </div>
  {% endif %}

  <div class="site-body">
    <main class="faces">
      <div id="images">
        {% for image in images[:66] -%}
          <img crossOrigin="Anonymous" class="image" width="78" height="78" src="{{ image.url }}" />
        {%- endfor %}
      </div>
      <div id="load-more-container" class="load-more-container">
        <button type="button" id="load-more" class="load button">View more beautiful people :)</button>
      </div>
    </main>
    <nav class="filter-nav">
      <div class="size section">
        <div class="label">
          <h3>Size</h3>
        </div>
        <div id="size-slider"></div>
        <div id="slider-label">78px</div>
      </div>
      <div class="gender section">
        <div class="label">
          <h3>Sex</h3>
        </div>
        <div class="sex-dropdown">
          <select>
              <option value="neutral" name="gender" id="gender-neutral">Neutral</option>
              <option value="female" name="gender" id="gender-female">Female</option>
              <option value="male" name="gender" id="gender-male">Male</option>
          </select>
        </div>
      </div>
      <div class="downloads section">
        <div class="downloads label">
          <h3>Download</h3>
        </div>
        <button id="download-all" type="button" class="button">All</button>
        <button id="download-selected" type="button" class="button disabled">Selected</button>
        <p id="download-selected-text">Click on an image to select it.</p>
      </div>
    </nav>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
  <script>
    window.Data = {{ images|tojson|safe }};
  </script>
  {% assets filters="jsmin", output="dist/zip-%(version)s.js",
            "scripts/vendor/jszip.js", "scripts/vendor/jszip-utils.js", "scripts/vendor/FileSaver.js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  {% assets filters="jsmin", output="dist/index-%(version)s.js",
            "scripts/index.js", "scripts/banner.js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
