{% extends 'layout.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  {% assets filters="cssmin", output="dist/home-%(version)s.css", "styles/home-compiled.css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {% endassets %}
{% endblock %}

{% block body %}
  <div class="site-body">
    <main class="faces">
      <div id="images">
        {% for image in images[:50] -%}
          <img width="90" height="90" src="{{ image.url }}" />
        {%- endfor %}
      </div>
      <div id="load-more-container" class="load-more-container">
        <button type="button" id="load-more" class="button">Load More</button>
      </div>
    </main>
    <nav class="filter-nav">
      <div class="size">
        <div class="size-label">
          <h3>Size:</h3>
          <h4 id="slider-label">90px</h4>
        </div>
        <div id="size-slider"></div>
      </div>
      <div class="gender">
        <div class="gender-label">
          <h3>Gender:</h3>
        </div>
        <div class="input-group">
          <label for="gender-both" class="control control--radio"> All
            <input checked value="both" type="radio" name="gender" id="gender-both" />
            <div class="control__indicator"></div>
          </label>
          <label for="gender-female" class="control control--radio"> Female
            <input value="female" type="radio" name="gender" id="gender-female" />
            <div class="control__indicator"></div>
          </label>
          <label for="gender-male" class="control control--radio"> Male
            <input value="male" type="radio" name="gender" id="gender-male" />
            <div class="control__indicator"></div>
          </label>
        </div>
      </div>
    </nav>
    <aside class="ads">
      <div>
        <a href="https://www.paypal.me/reneepadgham/5" target="_blank" class="button">coffee me</a>
      </div>
    </aside>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
  <script>
    window.Data = {{ images|tojson|safe }};
  </script>
  {% assets filters="jsmin", output="dist/index-%(version)s.js", "scripts/index.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57ce4aa9dc707ca6"></script>
{% endblock %}
