<!DOCTYPE html>
<html>
<head>
  <!-- COMMON TAGS -->
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Diverse UI</title>
  <!-- Search Engine -->
  <meta name="author" content="Renee Padgham &amp; Yefim Vedernikoff">
  <meta name="description" content="Discover diverse user images for user interface design.">
  <meta name="image" content="https://www.diverseui.com/static/img/diverseuimeta.png">
  <meta name="robots" content="NOODP">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Diverse UI">
  <meta itemprop="description" content="Discover diverse user images for user interface design.">
  <meta itemprop="image" content="{{ url_for('static', filename='img/diverseuimeta.png', _external=True) }}">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Diverse UI">
  <meta name="twitter:description" content="Discover diverse user images for user interface design.">
  <meta name="twitter:image:src" content="{{ url_for('static', filename='img/diverseuimeta.png', _external=True) }}">
  <!-- Open Graph general (Facebook, Pinterest and Google+) -->
  <meta name="og:title" content="Diverse UI">
  <meta name="og:description" content="Discover diverse user images for user interface design.">
  <meta name="og:image" content="{{ url_for('static', filename='img/diverseuimeta.png', _external=True) }}">
  <meta name="og:url" content="https://www.diverseui.com/">
  <meta name="og:site_name" content="Diverse UI">
  <meta name="og:locale" content="en_US">
  <meta name="og:type" content="website">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/normalize.css') }}" />
  {% assets filters="cssmin", output="dist/styles-%(version)s.css", "styles/styles-compiled.css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {% endassets %}
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png', _external=True) }}" />

  <script src="https://use.typekit.net/zzo2jwa.js"></script>
  <script>
    try {
      Typekit.load({
        async: true
      });
    } catch (e) {}
  </script>
</head>

<body class="site">
  {% block header %}
    <header>
      <div class="header-content-wrap">
        <div class="header-section">
          <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/diverselogo.png') }}" /></a>
        </div>
        <div class="header-section">
          <a href="{{ url_for('about') }}" {% if request.path == url_for('about') %}class="current"{% endif %}>About</a>
          <a href="{{ url_for('submit') }}" class="button">Submit</a>
        </div>
      </div>
    </header>
  {% endblock %}

  {% block body %}{% endblock %}

  {% block footer %}
    <footer>
      <div class="footer-content-wrap">
        <div class="footer-section">
          <p>&copy; Diverse UI 2017 | <a href="/terms">Terms of Service</a></p>
        </div>
        <div class="footer-section">
          <p>Made with 💖 and ☕ in San Francisco by <a href="http://www.reneepadgham.com" target="_blank">Renee</a> and <a href="http://www.yef.im" target="_blank">Yefim</a>.</p>
        </div>
      </div>
    </footer>
  {% endblock %}

  {% block javascripts %}{% endblock %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68765997-3', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
