<!DOCTYPE html>
<html>
<head>
  <!-- COMMON TAGS -->
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Diverse UI</title>
  <!-- Search Engine -->
  <meta name="author" content="Renee Padgham &amp; Yefim Vedernikoff">
  <meta name="description" content="{% block description %}Diverse UI is a free collection of diverse user-submitted images that can be used in your design work.{% endblock %}">
  <meta name="image" content="{{ url_for('static', filename='img/diverseuimeta.png', _external=True) }}">
  <meta name="robots" content="NOODP">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Diverse UI">
  <meta itemprop="description" content="{{ self.description() }}">
  <meta itemprop="image" content="{{ url_for('static', filename='img/diverseuimeta.png', _external=True) }}">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Diverse UI">
  <meta name="twitter:description" content="{{ self.description() }}">
  <meta name="twitter:image:src" content="{{ url_for('static', filename='img/diverseuimeta.png', _external=True) }}">
  <!-- Open Graph general (Facebook, Pinterest and Google+) -->
  <meta name="og:title" content="Diverse UI">
  <meta name="og:description" content="{{ self.description() }}">
  <meta name="og:image" content="{{ url_for('static', filename='img/diverseuimeta.png', _external=True) }}">
  <meta name="og:url" content="https://www.diverseui.com/">
  <meta name="og:site_name" content="Diverse UI">
  <meta name="og:locale" content="en_US">
  <meta name="og:type" content="website">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/normalize.css') }}" />
  {% assets filters="cssmin", output="dist/styles-%(version)s.css", "styles/styles-compiled.css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {% endassets %}
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png', _external=True) }}" />

  <script src="https://use.typekit.net/zzo2jwa.js"></script>
  <script>
    try {
      Typekit.load({
        async: true
      });
    } catch (e) {}
  </script>
</head>

<body class="site">
  <div class="menu">
    <a href="{{ url_for('about') }}" {% if request.path == url_for('about') %}class="current"{% endif %}>About</a>
    <a href="https://github.com/reneepadgham/diverseui-sketch-plugin">Sketch Plugin</a>
    {% if current_user and current_user.is_authenticated %}
      <a href="{{ url_for('review') }}" {% if request.path == url_for('review') %}class="current"{% endif %}>Manage Photo</a>
      <form method="post" action="{{ url_for('logout') }}">
        <button type="submit" class="text-button logout">Log Out</button>
      </form>
    {% else %}
      <a href="{{ url_for('submit') }}" class="button">Submit</a>
    {% endif %}
  </div>

  <header>
    <div class="header-content-wrap">
      <div class="header-section">
        <a href="{{ url_for('index') }}" class="logo"><img src="{{ url_for('static', filename='img/logo.png') }}" /></a>
      </div>
      <div class="header-section links">
        <a href="{{ url_for('about') }}" {% if request.path == url_for('about') %}class="current"{% endif %}>About</a>
        <a href="https://github.com/reneepadgham/diverseui-sketch-plugin">Sketch Plugin</a>
        {% if current_user and current_user.is_authenticated %}
          <a href="{{ url_for('review') }}" {% if request.path == url_for('review') %}class="current"{% endif %}>Manage Photo</a>
          <form method="post" action="{{ url_for('logout') }}">
            <button type="submit" class="text-button logout">Log Out</button>
          </form>
        {% else %}
          <a href="{{ url_for('submit') }}" class="button">Submit</a>
        {% endif %}
      </div>
      <div class="header-section mobile">
        <button class="hamburger hamburger--collapse mobile-menu-button" id="menu" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </header>

  {% block body %}{% endblock %}

  <footer>
    <div class="footer-content-wrap">
      <div class="footer-section">
        <p>&copy; Diverse UI 2017 | <a href="/terms">Terms of Service</a></p>
      </div>
      <div class="footer-section">
        <p>Made with 💖 and ☕ in San Francisco by <a href="http://www.reneepadgham.com" target="_blank">Renee</a> and <a href="http://www.yef.im" target="_blank">Yefim</a>.</p>
      </div>
    </div>
  </footer>

  {% block javascripts %}{% endblock %}
  {% assets filters="jsmin", output="dist/menu-%(version)s.js", "scripts/menu.js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68765997-3', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
