{% extends 'layout.html' %}

{% block stylesheets %}
  {% assets filters="cssmin", output="dist/review-%(version)s.css", "styles/review-compiled.css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {% endassets %}
{% endblock %}

{% block body %}
  {% if updated %}
    <div class="banner">
      <span class="close-banner">
        <svg width="12" height="12" viewBox="0 0 12 12">
          <path d="M7.06 6l4.72-4.72A.75.75 0 0 0 10.72.22L6 4.94 1.28.22A.75.75 0 1 0 .22 1.28L4.94 6 .22 10.72a.75.75 0 1 0 1.06 1.06L6 7.06l4.72 4.72a.75.75 0 1 0 1.06-1.06L7.06 6z" fill-rule="nonzero" fill="#FFF"/>
        </svg>
      </span>
      <p>Your changes have been saved</p>
    </div>
  {% endif %}
  <div class="review-container">
    <img class="photo" width="500" height="500" src="{{ image.url or 'https://graph.facebook.com/{}/picture?width=500&height=500'.format(user.fb_id) }}" />
    <div class="review-form">
      <h2 style="margin: 0 0 4px 0;">Hello {{ user.first_name }} - lookin' good!</h2>
      <p style="margin: 0 0 24px 0;">To make sure we're keeping our site diverse, we need to keep up with the breakdown of images. Could you help us out by clarifying a few things?</p>
      <form method="post" action="{{ url_for('review') }}">
        <div class="review-field">
          <input {% if not image.status %}autofocus{% endif %} id="gender" name="gender" type="text" value="{{ image.gender or user.gender }}" placeholder="Gender" />
          <label for="gender">Gender</label>
        </div>
        <div class="review-field">
          <input id="race" name="race" type="text" value="{{ image.race }}" placeholder="Race" />
          <label for="race">Race</label>
        </div>
        <div class="review-field">
          <input id="second_race" name="second_race" type="text" value="" placeholder="Second Race" />
          <label for="second_race">Second Race</label>
        </div>
        <div class="review-field">
          <input id="email" name="email" type="email" value="{{ image.email or user.email }}" placeholder="Email" />
          <label for="email">Email</label>
        </div>
        <div class="review-buttons">
          <button name="action" value="submit" class="button" type="submit" style="margin: 0 0 0 auto;">{% if image.status %}Save{% else %}Submit{% endif %}</button>
          {% if image.status %}
            <button onclick="javascript:return confirm('Are you sure?');" name="action" value="remove" type="submit" class="text-button">Remove Photo</button>
          {% endif %}
        </div>
      </form>
      <form method="post" action="{{ url_for('logout') }}">
        <button type="submit" class="text-button logout">Log Out</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {% assets filters="jsmin", output="dist/banner-%(version)s.js", "scripts/banner.js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
