{% extends 'layout.html' %}

{% block stylesheets %}
  {% assets filters="cssmin", output="dist/review-%(version)s.css", "styles/review-compiled.css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {% endassets %}
{% endblock %}

{% block body %}
  <div class="review-container">
    <img class="photo" width="500" height="500" src="https://graph.facebook.com/{{ user.fb_id }}/picture?width=500&height=500" />
    <div class="review-form">
      <h2 style="margin: 0 0 4px 0;">Hello {{ user.first_name }} - lookin' good!</h2>
      <p style="margin: 0 0 24px 0;">To make sure we're keeping our site diverse, we need to keep up with the breakdown of images. Could you help us out by clarifying a few things?</p>
      <form method="post" action="{{ url_for('review') }}">
        <div class="review-field">
          <input autofocus id="gender" name="gender" type="text" value="{{ image.gender or user.gender }}" placeholder="Gender" />
          <label for="gender">Gender</label>
        </div>
        <div class="review-field">
          <input id="race" name="race" type="text" value="{{ image.race }}" placeholder="Race" />
          <label for="race">Race</label>
        </div>
        <div class="review-field">
          <input id="second_race" name="second_race" type="text" value="" placeholder="Second Race" />
          <label for="second_race">Second Race</label>
        </div>
        <div class="review-field">
          <input id="email" name="email" type="email" value="{{ image.email or user.email }}" placeholder="Email" />
          <label for="email">Email</label>
        </div>
        <div class="review-buttons">
          {% if image.status %}
            <button onclick="javascript:return confirm('Are you sure?');" name="action" value="remove" type="submit" class="text-button">Remove Photo</button>
          {% endif %}
          <button name="action" value="submit" class="button" type="submit" style="margin: 0 0 0 auto;">{% if image.status %}Save{% else %}Submit{% endif %}</button>
        </div>
      </form>
      <form method="post" action="{{ url_for('logout') }}">
        <button type="submit">Log out</button>
      </form>
    </div>
  </div>
{% endblock %}
