{% extends 'layout.html' %}

{% block description %}Submit your own real photo to Diverse UI.{% endblock %}

{% block stylesheets %}
  {% assets filters="cssmin", output="dist/form-%(version)s.css", "styles/form-compiled.css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
  {% endassets %}

  <script src="{{ url_for('static', filename='scripts/modernizr.custom.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="page-container">
    <h1>Submit Your Photo</h1>
    <p>Thanks for sharing - this site wouldn't be possible without you! Before you Facebook auth, here are a few things to note:</p>
    <ul>
      <li>You're giving designers permission to use your photo in both mockups and live products (such as websites)</li>
      <li>This photo is of you and only you </li>
      <li>You have the rights to this picture</li>
      <li>This is a photograph of you - not a logo, graphic, or illustration of any kind</li>
      <li>It doesn't contain any hateful, racist, or otherwise discriminatory content</li>
    </ul>
    <p>Don't worry - we explicitly forbid using your photo for hateful, racist, discriminatory, or otherwise evil content in our <a href="terms">terms.</a></p>
    <a style="padding: 0 16px;" href="https://www.facebook.com/v2.8/dialog/oauth?client_id={{ client_id }}&redirect_uri={{ redirect_uri }}&scope=public_profile,email" class="button submit">Upload my Facebook photo</a>
  </div>
{% endblock %}


{% block javascripts %}
  {% if not submitted %}
    {% assets filters="jsmin", output="dist/form-%(version)s.js",
              "scripts/classie.js", "scripts/fullscreenForm.js", "scripts/custom-file-input.js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  {% endif %}
{% endblock %}
