@import 'colors';

.about {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  .about-section-container {
    margin: 40px 0;
  }
  .question {
    margin: 30px 0;
  }
}
a {
  text-decoration: none;
  color: $accent;
}
.header-content-wrap .header-section .current {
  color: $accent;
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 768px) {
  .about {
    width: 85%;
  }
}
