.about {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto; }
  .about .about-section-container {
    margin: 40px 0; }
  .about .question {
    margin: 30px 0; }

a {
  text-decoration: none;
  color: #ED254E; }

@media (min-width: 320px) and (max-width: 768px) {
  .about {
    width: 85%; } }
