@import 'styles';

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body, .container {
	height: 100%;
}

body {
  background: $accent;
  font-family: 'proxima-nova', sans-serif;
}
/* Main form wrapper */
.fs-form-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
}

.overview .fs-form-wrap {
	height: auto;
}

/* Title */
.fs-title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    height: 30px;
		cursor: pointer;
  }
}
.fs-title h1 {
  margin: 0;
}
/* Form */
.fs-form {
  position: relative;
  text-align: left;
  font-size: 2.5em;
}
.no-js .fs-form {
  padding: 0 0 6em;
}
/* Views (fullscreen and overview)*/
.fs-form-full {
  top: 32%;
  margin: 0 auto;
  width: 70%;
}
.fs-form-full,
.fs-message-error {
  max-width: 960px;
}
.fs-form-overview {
	padding: 2.5em 30% 6em;
	width: 100%;
	height: 100%;
	background: $accent;
	color: #fff;
	font-size: 1.2em;
}

.fs-form-overview .fs-fields::before {
	display: block;
	margin-bottom: 2.5em;
	color: rgba(255,255,255,.8);
	content: 'Review & Submit';
	font-weight: 700;
	font-size: 1.85em;
}
/* Switch view animation (we hide the current view, switch the view class and show it again) */
.fs-form.fs-show {
  -webkit-animation: animFadeIn 0.5s;
  animation: animFadeIn 0.5s;
}
@-webkit-keyframes animFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fs-form.fs-show .fs-fields {
  -webkit-animation: animMove 0.5s;
  animation: animMove 0.5s;
}
@-webkit-keyframes animMove {
  from {
    top: 100px;
  }
}
@keyframes animMove {
  from {
    top: 100px;
  }
}
/* we need to use top here because otherwise all our fixed elements will become absolute */
/* Visibility control of elements */
.fs-form-full .fs-fields > li,
.fs-nav-dots,
.fs-progress,
.fs-numbers,
button.fs-continue,
.fs-message-error,
.fs-message-final {
  visibility: hidden;
}
.no-js .fs-form-full .fs-fields > li {
  visibility: visible;
}
.fs-show {
  visibility: visible !important;
}
/* Some general styles */
.fs-form-wrap button {
  border: none;
  background: none;
}
.fs-form-wrap button[disabled] {
  opacity: 0.3;
  pointer-events: none;
}
.fs-form-wrap input:focus,
.fs-form-wrap button:focus {
  outline: none;
}
/* Hide the submit button */
.fs-form .fs-submit {
  display: none;
}
/* Fields */
.fs-fields {
  position: relative;
  margin: 0 auto;
  padding: 0;
  top: 0;
  list-style: none;
}
.fs-form-overview ol {
	// max-width: ;
}
.fs-fields > li {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  border: none;
}
.fs-fields > li:hover {
  z-index: 999;
}
.fs-form-overview .fs-fields > li,
.no-js .fs-form .fs-fields > li {
	margin: 1em 0 2em;
	padding: 0 0 2em 0;
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid rgba(0,0,0,0.1);
}
.js .fs-form-full .fs-fields > li {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Labels & info */
.fs-fields > li label {
  position: relative;
}
.fs-fields > li label.fs-field-label {
  display: inline-block;
  padding: 0 5px 1em 0;
  font-weight: 700;
  pointer-events: none;
  color: #fff;
}
.fs-form-full .fs-fields > li label[data-info]::after {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  content: 'i';
  vertical-align: top;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  pointer-events: auto;
}
.fs-form-full .fs-fields > li label[data-info]::before {
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 0 0 10px;
  min-width: 200px;
  content: attr(data-info);
  font-size: 0.4em;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translate3d(0,-5px,0);
  transform: translate3d(0,-5px,0);
  pointer-events: none;
}
.fs-form-full .fs-fields > li label[data-info]:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.fs-form-full .fs-fields > li label:hover ~ .fs-info,
.fs-form-full .fs-fields > li .fs-info:hover {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  pointer-events: auto;
}
/* Inputs */
.fs-fields input {
  display: block;
  margin: 0;
  padding: 0 0 0.15em;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,.5);
  background-color: transparent;
  color: #fff;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 0;
}
.fs-fields input:invalid {
  box-shadow: none;
  /* removes red shadow in FF*/
}
.fs-form-overview .fs-fields input {
	border-bottom-color: transparent;
	color: rgba(255, 255, 255, 0.4);
}
.fs-fields [required] {
  background-image: url("../img/abacusstar.svg");
  background-position: top right;
  background-size: 18px;
  background-repeat: no-repeat;
}
.fs-form-overview .fs-fields input {
	font-size: 1.2em;
}
.fs-form-overview .fs-fields > li .fs-radio-custom span {
	max-width: 140px;
}

.fs-form-overview .fs-fields > li .fs-radio-custom span {
	font-size: 75%;
}
.fs-fields input.fs- {
  padding-left: 1em;
  background-image: url("../img/dollar.svg");
  background-position: 0 0.15em;
  background-size: auto 75%;
  background-repeat: no-repeat;
}
/* placeholder */
.fs-fields input::-webkit-input-placeholder,
.fs-fields textarea::-webkit-input-placeholder {
  color: rgba(0,0,0,0.1);
}
.fs-fields input:-moz-placeholder,
.fs-fields textarea:-moz-placeholder {
  color: rgba(0,0,0,0.1);
}
.fs-fields input::-moz-placeholder,
.fs-fields textarea::-moz-placeholder {
  color: rgba(0,0,0,0.1);
}
.fs-fields input:-ms-input-placeholder,
.fs-fields textarea:-ms-input-placeholder {
  color: rgba(0,0,0,0.1);
}
/* Hide placeholder when focused in Webkit browsers */
.fs-fields input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* Dot navigation */
.fs-nav-dots {
  position: absolute;
  top: 50%;
  right: 60px;
  left: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fs-nav-dots button {
  position: relative;
  display: block;
  padding: 0;
  margin: 16px 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: transparent;
  -webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.fs-nav-dots button::before,
.fs-nav-dots button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.9);
  content: '';
  text-indent: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.fs-nav-dots button::after {
  background-color: rgba(0,0,0,0.4);
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
  transform: perspective(1000px) rotate3d(0,1,0,180deg);
}
.fs-nav-dots button.fs-dot-current {
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
  transform: perspective(1000px) rotate3d(0,1,0,180deg);
}
.fs-nav-dots button:hover::before,
.fs-nav-dots button.fs-dot-current::before {
  background: #fff;
}
/* Progress bar */
.fs-progress {
  position: absolute;
  top: 0;
  width: 0;
  height: 0.5em;
  background: rgba(255,255,255,0.75);
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
/* Number indicator */
.fs-numbers {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  color: rgba(0,0,0,0.3);
  margin: 40px;
  width: 2em;
  font-weight: 700;
  font-size: 25px;
  cursor: default;
}
.fs-numbers:after {
  position: absolute;
  width: 100%;
  text-align: center;
  content: '/';
  font-weight: 500;
  opacity: 0.4;
  left: 0;
}
.fs-numbers span {
  float: right;
  width: 40%;
  text-align: center;
}
.fs-numbers .fs-number-current {
  float: left;
}
.fs-numbers .fs-number-new {
  position: absolute;
  left: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
/* Animations for numbers */
/* Show next number */
.fs-numbers.fs-show-next .fs-number-new {
  -webkit-animation: animMoveUpFromDown 0.4s both;
  animation: animMoveUpFromDown 0.4s both;
}
@-webkit-keyframes animMoveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
@keyframes animMoveUpFromDown {
  from {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.fs-numbers.fs-show-next .fs-number-current {
  -webkit-animation: animMoveUp 0.4s both;
  animation: animMoveUp 0.4s both;
}
@-webkit-keyframes animMoveUp {
  to {
    -webkit-transform: translateY(-100%);
  }
}
@keyframes animMoveUp {
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
/* Show previous number */
.fs-numbers.fs-show-prev .fs-number-new {
  -webkit-animation: animMoveDownFromUp 0.4s both;
  animation: animMoveDownFromUp 0.4s both;
}
@-webkit-keyframes animMoveDownFromUp {
  from {
    -webkit-transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
@keyframes animMoveDownFromUp {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.fs-numbers.fs-show-prev .fs-number-current {
  -webkit-animation: animMoveDown 0.4s both;
  animation: animMoveDown 0.4s both;
}
@-webkit-keyframes animMoveDown {
  to {
    -webkit-transform: translateY(100%);
  }
}
@keyframes animMoveDown {
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
/* Continue button and submit button */
button.fs-submit,
button.fs-continue {
	padding: 0.6em 1.5em;
	border: 3px solid #f4f5f5;
	border-radius: 40px;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.75);
}
.fs-form-overview .fs-submit,
.no-js .fs-form .fs-submit  {
	display: block;
	float: right;
}
button.fs-continue {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 40px 60px 0;
  font-size: 1.25em;
}
button.fs-submit:hover,
button.fs-submit:focus,
button.fs-continue:hover {
	background: #fff;
	color: #F05D5E;
	border-color: #fff;
}
.fs-continue::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  line-height: 3;
  text-align: center;
  background: transparent;
  color: rgba(0,0,0,0.3);
  content: 'or press ENTER';
  font-size: 0.65em;
  pointer-events: none;
}
/* Error message */
.fs-message-error {
  position: absolute;
  bottom: 75%;
  left: 50%;
  z-index: 800;
  max-width: 960px;
  width: 70%;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  opacity: 0;
  -webkit-transform: translate3d(-50%,-5px,0);
  transform: translate3d(-50%,-5px,0);
}
.fs-message-error.fs-show {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(-50%,0,0);
  transform: translate3d(-50%,0,0);
}
/* Animation classes & animations */
.fs-form li.fs-current {
  visibility: visible;
}
.fs-form li.fs-hide,
.fs-form li.fs-show {
  pointer-events: none;
}
/* Hide current li when navigating to next question */
.fs-form .fs-display-next .fs-hide {
  visibility: visible;
}
.fs-form .fs-display-next .fs-hide .fs-anim-lower,
.fs-form .fs-display-next .fs-hide .fs-anim-upper {
  -webkit-animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
  animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}
.fs-form .fs-display-next .fs-hide .fs-anim-lower {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
@-webkit-keyframes animHideNext {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0,-500px,0);
  }
}
@keyframes animHideNext {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0,-500px,0);
    transform: translate3d(0,-500px,0);
  }
}
/* Show new li when navigating to next question */
.fs-form .fs-display-next .fs-show .fs-anim-lower,
.fs-form .fs-display-next .fs-show .fs-anim-upper {
  -webkit-animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
  animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}
.fs-form .fs-display-next .fs-show .fs-anim-lower {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
@-webkit-keyframes animShowNext {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,500px,0);
  }
}
@keyframes animShowNext {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,500px,0);
    transform: translate3d(0,500px,0);
  }
}
/* Hide current li when navigating to previous question */
.fs-form .fs-display-prev .fs-hide {
  visibility: visible;
}
.fs-form .fs-display-prev .fs-hide .fs-anim-lower,
.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
  -webkit-animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
  animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}
.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
@-webkit-keyframes animHidePrev {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0,500px,0);
  }
}
@keyframes animHidePrev {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0,500px,0);
    transform: translate3d(0,500px,0);
  }
}
/* Show new li when navigating to previous question */
.fs-form .fs-display-prev .fs-show .fs-anim-lower,
.fs-form .fs-display-prev .fs-show .fs-anim-upper {
  -webkit-animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
  animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}
.fs-form .fs-display-prev .fs-show .fs-anim-upper {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
@-webkit-keyframes animShowPrev {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,-500px,0);
  }
}
@keyframes animShowPrev {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,-500px,0);
    transform: translate3d(0,-500px,0);
  }
}
/* Remove IE clear cross */
input[type=text]::-ms-clear {
  display: none;
}
/* Adjust form for smaller screens */
@media (min-width: 320px) and (max-width: 768px){
  body {
    min-height: 500px;
  }
  .fs-form-wrap {
    font-size: 70%;
  }
  .fs-form {
    top: 6em;
    right: 2em;
    left: 0;
    padding: 0 3.75em 0 1em;
    width: auto;
    font-size: 2em;
  }
	.fs-form.fs-form-overview {
		top: 0;
		right: 0;
		padding: 1.5em 1em 8em 1em;
		font-size: 1.5em;
	}
  .fs-title {
    padding: 20px;
  }
  .fs-numbers {
    margin: 20px;
  }
  .fs-nav-dots {
    right: 25px;
		top: 30%;
  }
  button.fs-continue {
    right: 20px;
    bottom: 20px;
    font-size: 2em;
  }
  .fs-continue::after {
    content: '';
  }
  button.fs-submit {
    width: 100%;
    font-size: 1.25em;
  }
  .fs-message-error {
		top: 350px;
    left: 0;
    padding: 0 90px 0 20px;
    width: 100%;
    font-size: 1.5em;
    -webkit-transform: translate3d(0,-5px,0);
    transform: translate3d(0,-5px,0);
  }
  .fs-message-error.fs-show {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
	.fs-form-full .fs-fields > li label[data-info]::before {
    position: absolute;
    bottom: 100%;
    left: 0;
    padding: 0 0 10px;
    min-width: 200px;
    content: attr(data-info);
    font-size: 0.75em;
}
.fs-form-full .fs-fields > li label[data-info]::before {
    font-size: 0.75em;
	}
.fs-form-full .fs-fields > li label[data-info]::after {
	display: block;
  margin-top: 10px;
	margin-left: 0;
}
.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  max-width: 80%;
  font-size: 20px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 10px 0;
}
.no-js .inputfile + label {
  display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: none;
}
.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}
.inputfile-3 + label {
  color: rgba(255,255,255,0.75);
}
.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover,
.inputfile-3:active + label {
  color: #fff;
}
.overview {
.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover,
.inputfile-3:active + label {
  color: #fff;
}
}
.show-submit {
  display: block !important;
}
}
