.filter-nav {
  order: -1;
  flex: 0 0 15em;
  padding: 1em 3em 0 0;
  border-radius: 3px; }
  .filter-nav .section {
    margin-bottom: 24px; }

/* filter navigation styles */
.label h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  margin: 0; }

.ui-slider {
  width: 80%;
  background: #DCDEDF;
  border: none;
  height: 0.3em;
  cursor: pointer; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #428AFF;
  border-radius: 50%;
  border: none;
  top: -.3em;
  height: 1em;
  width: 1em;
  cursor: pointer; }

.ui-slider-horizontal .ui-slider-range {
  background: #649FFF; }

#slider-label {
  height: 28px; }

.sex-dropdown select {
  background: #fff;
  border: 1px solid #565D5F;
  width: 100%;
  height: 32px;
  font-size: 14px;
  line-height: 32px; }

.downloads {
  display: flex;
  flex-direction: column; }
  .downloads button {
    margin-bottom: 10px; }
  .downloads .disabled {
    opacity: .5; }
    .downloads .disabled:hover {
      color: inherit;
      border-color: inherit;
      cursor: default; }
      .downloads .disabled:hover:before {
        display: none; }

#download-selected-text {
  flex-grow: 1;
  display: none;
  margin: 0;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 10px;
  font-weight: 500;
  box-shadow: 0px 0px 5px #ccc; }

#download-selected.disabled:hover + #download-selected-text {
  display: block; }

.donate {
  padding-top: 112px; }
  .donate a {
    display: block;
    background-color: #649FFF;
    box-shadow: 0 4px 0 #428AFF; }

/* load more button styles */
.load-more-container {
  padding: 40px 0;
  display: flex;
  width: 50%;
  margin: auto; }

/* images styles */
#images {
  margin: 0 -10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start; }
  #images img {
    border: 1px solid #E9EAEB;
    flex-basis: auto;
    align-self: flex-start;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px; }
  #images .selected-image {
    border: 4px solid #428AFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); }

.load {
  color: #428AFF;
  background: #fff;
  box-shadow: none;
  width: 100%; }

@media (min-width: 768px) {
  .site-body {
    flex-direction: row;
    flex: 1; }
  .faces {
    width: 100%;
    padding: .5em 0; } }

@media (min-width: 320px) and (max-width: 768px) {
  .gender .input-group {
    flex-direction: row;
    justify-content: space-between; }
  .gender {
    margin-top: 25px; }
  .downloads {
    display: none; } }
