.filter-nav {
  order: -1; }

.filter-nav,
.ads {
  padding: 1em;
  border-radius: 3px; }

/* filter navigation styles */
.size-label {
  margin-bottom: 10px; }
  .size-label h3,
  .size-label h4 {
    display: inline-block;
    margin: 0; }
  .size-label h3 {
    font-weight: 600; }
  .size-label h4 {
    margin-left: 5px;
    font-size: 18px; }

.ui-slider {
  width: 80%;
  background: #dbe0e3;
  border: none;
  height: 0.3em;
  cursor: pointer; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #ED254E;
  border-radius: 50%;
  border: none;
  top: -.3em;
  height: 1em;
  width: 1em;
  cursor: pointer; }

.ui-slider-horizontal .ui-slider-range {
  background: #f79bae; }

.gender {
  margin-top: 50px; }
  .gender h3 {
    margin-bottom: 10px;
    font-weight: 600; }
  .gender label:hover {
    color: #2b3438; }
  .gender .input-group {
    margin-left: 10px;
    display: flex;
    flex-direction: column; }
    .gender .input-group .control {
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 16px; }
    .gender .input-group .control input {
      position: absolute;
      z-index: -1;
      opacity: 0; }
    .gender .input-group .control__indicator {
      position: absolute;
      top: 2px;
      left: 0;
      height: 16px;
      width: 16px;
      background: #dbe0e3; }
    .gender .input-group .control--radio .control__indicator {
      border-radius: 50%; }
    .gender .input-group .control:hover input ~ .control__indicator,
    .gender .input-group .control input:focus ~ .control__indicator {
      background: #f79bae; }
    .gender .input-group .control input:checked ~ .control__indicator {
      background: #ED254E; }
    .gender .input-group .control:hover input:not([disabled]):checked ~ .control__indicator,
    .gender .input-group .control input:checked:focus ~ .control__indicator {
      background: #ED254E; }

/* ads styles */
.ads div {
  display: flex; }

/* load more button styles */
.load-more-container {
  padding: 40px 0;
  display: flex;
  width: 50%;
  margin: auto; }

/* images styles */
#images {
  margin: 0 -10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start; }
  #images img {
    border: 1px solid #f4f5f5;
    flex-basis: auto;
    align-self: flex-start;
    margin: 8px; }

@media (min-width: 768px) {
  .site-body {
    flex-direction: row;
    flex: 1; }
  .faces {
    width: 100%;
    padding: .5em 0; }
  .filter-nav,
  .ads {
    flex: 0 0 12em; } }

@media (min-width: 320px) and (max-width: 768px) {
  .gender .input-group {
    flex-direction: row;
    justify-content: space-between; }
  .gender {
    margin-top: 25px; } }
