@import 'colors';

.filter-nav {
  order: -1;
  flex: 0 0 15em;
  padding: 1em 3em 0 0;
  border-radius: 3px;
}
/* filter navigation styles */
.label h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    margin: 0;
}
.ui-slider {
  width: 80%;
  background: $light-grey;
  border: none;
  height: 0.3em;
  cursor: pointer;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: $accent;
  border-radius: 50%;
  border: none;
  top: -.3em;
  height: 1em;
  width: 1em;
  cursor: pointer;
}
.ui-slider-horizontal .ui-slider-range {
  background: $light-accent;
}
.gender {
  margin-top: 50px;
  .input-group {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    .control {
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 16px;
    }
    .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .control__indicator {
      position: absolute;
      top: 2px;
      left: 0;
      height: 16px;
      width: 16px;
      background: $light-grey;
    }
    .control--radio .control__indicator {
      border-radius: 50%;
    }
    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
      background: $light-accent;
    }
    .control input:checked ~ .control__indicator {
      background: $accent;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
      background: $accent;
    }
  }
}

.downloads {
  display: flex;
  flex-direction: column;
  button {
    margin-bottom: 10px;
  }
  .disabled {
    opacity: .5;
    &:hover {
      color: inherit;
      border-color: inherit;
      cursor: default;
      &:before {
        display: none;
      }
    }
  }
}
#download-selected-text {
  flex-grow: 1;
  display: none;
  margin: 0;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 10px;
  font-weight: 500;
  box-shadow: 0px 0px 5px #ccc;
}
#download-selected.disabled:hover + #download-selected-text {
  display: block;
}

/* ads styles */
.ads div {
  display: flex;
}

/* load more button styles */
.load-more-container {
  padding: 40px 0;
display: flex;
width: 50%;
margin: auto;
}
/* images styles */
#images {
  margin: 0 -10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  img {
    border: 1px solid #E9EAEB;
    flex-basis: auto;
    align-self: flex-start;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
  }
  .selected-image {
    border: 4px solid $accent;
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
  }
}
@media (min-width: 768px) {
  .site-body {
    flex-direction: row;
    flex: 1;
  }
  .faces {
    width: 100%;
    padding: .5em 0;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .gender .input-group {
    flex-direction: row;
    justify-content: space-between;
  }
  .gender {
    margin-top: 25px;
}
.downloads {
  display: none;
}
}
