@import 'colors';

.review-container {
  display: flex;
  flex-wrap: wrap;
  margin: 32px auto 120px;
  max-width: 880px;
  width: 100%;
}

.photo {
  height: 500px;
  width: 500px;
}

.review-form {
  margin: 0 0 0 auto;
  max-width: 320px;
}

.review-field {
  display: flex;
  flex-wrap: wrap;

  label {
    display: block;
    order: 1;
    width: 100%;
  }

  input {
    border: 0;
    border-bottom: 1px solid $grey;
    display: block;
    font-size: 16px;
    line-height: 32px;
    margin: 0 0 24px;
    order: 2;
    transition: all .1s linear;
    width: 100%;
  }

  input:focus {
    border-bottom: 1px solid $accent;

    + label {
      color: $accent;
    }
  }
}

.review-buttons {
  align-items: center;
  display: flex;
}

.text-button {
  background: none;
  border: 0;
  font-weight: 600;
  margin: 0;
  order: -1;
  padding: 0;
}

.logout {
  margin: 40px auto 0;
  color: #FF5964;
  float: right;
}
