.review-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 900px;
  width: 100%; }

.photo {
  height: 500px;
  width: 500px; }

.review-form {
  margin: 0 0 0 auto;
  max-width: 304px; }

.review-field {
  display: flex;
  flex-wrap: wrap; }
  .review-field label {
    display: block;
    order: 1;
    width: 100%; }
  .review-field input {
    border: 0;
    border-bottom: 1px solid #565D5F;
    display: block;
    font-size: 16px;
    line-height: 32px;
    margin: 0 0 24px;
    order: 2;
    transition: all .1s linear;
    width: 100%; }
  .review-field input:focus {
    border-bottom: 1px solid #428AFF; }
    .review-field input:focus + label {
      color: #428AFF; }

.review-buttons {
  align-items: center;
  display: flex; }

.text-button {
  background: none;
  border: 0;
  font-weight: 600;
  margin: 0;
  padding: 0; }
