html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: 'canada-type-gibson', sans-serif;
  color: #565D5F;
  font-weight: 300;
  margin: 0;
  background: #fff; }

h1,
h2,
h3 {
  color: #292F32;
  font-weight: 500; }

h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0; }

h4 {
  font-weight: 500;
  font-size: 20px;
  margin: 10px 0 0; }

h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 0; }

:focus {
  outline: none; }

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  height: 88px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); }

.header-content-wrap {
  display: flex;
  justify-content: space-between;
  margin: auto 88px;
  width: 100%; }
  .header-content-wrap .header-section {
    display: flex;
    align-items: center; }
    .header-content-wrap .header-section img {
      height: 100%; }
    .header-content-wrap .header-section a {
      text-decoration: none;
      margin: 0 20px;
      color: #565D5F;
      text-decoration: none;
      font-size: 16px;
      line-height: 40px; }
    .header-content-wrap .header-section .logo {
      line-height: 24px;
      margin: auto;
      height: 24px; }
    .header-content-wrap .header-section .button {
      color: #fff;
      font-weight: 600; }
    .header-content-wrap .header-section .current {
      color: #428AFF;
      font-weight: 600; }
    .header-content-wrap .header-section .link:hover {
      color: #ED254E;
      font-weight: 600;
      transform: scale(1.075);
      transition: all 5ms ease-in-out; }
    .header-content-wrap .header-section .button:hover {
      color: #fff; }

.button {
  background-color: #428AFF;
  border-radius: 5px;
  box-shadow: 0 4px 0 #3771D1;
  color: #fff;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 36px;
  min-width: 128px;
  text-align: center; }

.button:focus {
  outline: none; }

.site-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 90%;
  margin: auto; }

footer .footer-content-wrap {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding: 25px 0; }
  footer .footer-content-wrap .footer-section {
    flex-grow: 1; }
    footer .footer-content-wrap .footer-section a {
      text-decoration: none;
      color: #ED254E; }
    footer .footer-content-wrap .footer-section:nth-child(2) {
      text-align: right; }

@media (min-width: 320px) and (max-width: 768px) {
  .header-content-wrap {
    flex-wrap: wrap;
    justify-content: center; }
    .header-content-wrap .header-section {
      margin: 15px 0; }
  footer .footer-content-wrap {
    flex-direction: column;
    text-align: center; }
    footer .footer-content-wrap .footer-section:nth-child(2) {
      text-align: center; }
    footer .footer-content-wrap p {
      margin: 5px 0; } }
