@import 'colors';
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'canada-type-gibson', sans-serif;
  color: $grey;
  font-weight: 300;
  margin: 0;
  background: #fff;
}
h1,
h2,
h3 {
  color: $black;
  font-weight: 500;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
h4 {
  font-weight: 500;
  font-size: 20px;
  margin: 10px 0 0;
}
h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}
 :focus {
  outline: none;
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  height: 88px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}
.header-content-wrap {
  display: flex;
  justify-content: space-between;
  margin: auto 88px;
  width: 100%;
  .header-section {
    display: flex;
    align-items: center;
    img {
      height: 100%;
    }
    a {
      text-decoration: none;
      margin: 0 20px;
      color: $grey;
      text-decoration: none;
      font-size: 16px;
      line-height: 40px;
    }
    .logo {
      line-height: 24px;
      margin: auto;
      height: 24px;
    }
    .button {
      color: #fff;
      font-weight: 600;
    }
    .current {
      color: $accent;
      font-weight: 600;
    }
    .link:hover {
      color: #ED254E;
      font-weight: 600;
      transform: scale(1.075);
      transition: all 5ms ease-in-out;
    }
    .button:hover {
      color: #fff;
    }
  }
}
.button {
  background-color: $accent;
  border-radius: 5px;
  box-shadow: 0 4px 0 $dark-accent;
  color: #fff;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 36px;
  min-width: 128px;
  text-align: center;
}
.button:focus {
  outline: none;
}
.site-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
footer {
  .footer-content-wrap {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding: 25px 0;
    .footer-section {
      flex-grow: 1;
      a {
        text-decoration: none;
        color: #ED254E;
      }
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .header-content-wrap {
    flex-wrap: wrap;
    justify-content: center;
    .header-section {
      margin: 15px 0;
    }
  }
  footer {
    .footer-content-wrap {
      flex-direction: column;
      text-align: center;
      .footer-section:nth-child(2) {
        text-align: center;
      }
      p {
        margin: 5px 0;
      }
    }
  }
}
