/* site layout and general styles */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'proxima-nova', sans-serif;
  color: #757780;
  font-weight: 300;
  margin: 0;
  background: #fff; }

h1,
h2,
h3 {
  color: #3F4045;
  font-weight: 500; }

:focus {
  outline: none; }

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

header {
  display: flex;
  justify-content: space-between;
  background: #f4f5f5;
  margin-bottom: 25px; }
  header .header-section {
    display: flex;
    align-items: center;
    margin: 20px 100px; }
    header .header-section h2 {
      margin: 0;
      font-family: 'ff-market-web', cursive;
      font-size: 32px; }
    header .header-section img {
      height: 30px; }
    header .header-section a {
      margin: 0 15px;
      color: #8C8C8C;
      text-decoration: none; }
    header .header-section .button {
      color: #fff; }

.button {
  background: #F05D5E;
  color: #fff;
  padding: 7px 20px;
  border-radius: 2px;
  text-decoration: none;
  flex-grow: 1;
  align-items: center;
  text-align: center; }

.site-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 80%;
  margin: auto; }

@media (min-width: 320px) and (max-width: 768px) {
  header {
    flex-wrap: wrap;
    justify-content: center; } }
