/* site layout and general styles */
$black: #3F4045;
$grey: #757780;
$accent: #F05D5E;
$light-grey: lighten($grey, 48%);
$light-accent: lighten($accent, 25%);
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'proxima-nova', sans-serif;
  color: $grey;
  font-weight: 300;
  margin: 0;
  background: #fff;
}
h1,
h2,
h3 {
  color: $black;
  font-weight: 500;
}
 :focus {
  outline: none;
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  background: $light-grey;
  margin-bottom: 25px;

  .header-section {
    display: flex;
    align-items: center;
    margin: 20px 100px;

    h2 {
      margin: 0;
      font-family: 'ff-market-web', cursive;
      font-size: 32px;
    }
    img {
      height: 30px;
    }

    a {
      margin: 0 15px;
      color: #8C8C8C;
      text-decoration: none;
    }
    .button {
      background: $accent;
      color: #fff;
      padding: 7px 20px;
      border-radius: 5px;
      margin-left: 5px;
    }
  }
}
.site-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.filter-nav {
  order: -1;
}
.filter-nav,
.ads {
  padding: 1em;
  border-radius: 3px;
}
/* filter navigation styles */
.size-label {
  margin-bottom: 10px;
  h3,
  h4 {
    display: inline-block;
    margin: 0;
  }
  h4 {
    margin-left: 5px;
    font-weight: 600;
  }
}
.ui-slider {
  width: 80%;
  background: $light-grey;
  border: none;
  height: 0.3em;
  cursor: pointer;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: $accent;
  border-radius: 50%;
  border: none;
  top: -.3em;
  height: 1em;
  width: 1em;
  cursor: pointer;
}
.ui-slider-horizontal .ui-slider-range {
  background: $light-accent;
}
.gender {
  margin-top: 50px;
  h3 {
    margin-bottom: 10px;
  }
  label:hover {
    color: darken($grey, 20%);
  }
  .input-group {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    .control {
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 16px;
    }
    .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .control__indicator {
      position: absolute;
      top: 2px;
      left: 0;
      height: 16px;
      width: 16px;
      background: $light-grey;
    }
    .control--radio .control__indicator {
      border-radius: 50%;
    }
    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
      background: $light-accent;
    }
    .control input:checked ~ .control__indicator {
      background: $accent;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
      background: $accent;
    }
  }
}
/* load more button styles */
#load-more {
  background-color: $accent;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'proxima-nova', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 0;
  width: 100%;
}
/* images styles */
#images {
  margin: 0 -10px;
  img {
    display: inline-block;
    margin: 10px;
    box-shadow: 0px 1px 1px #ccc;
  }
}
@media (min-width: 768px) {
  .site-body {
    flex-direction: row;
    flex: 1;
  }
  .faces {
    width: 100%;
  }
  .filter-nav,
  .ads {
    flex: 0 0 12em;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }
  .gender .input-group {
    flex-direction: row;
    justify-content: space-between;
  }
  .gender {
    margin-top: 25px;
}
}
