/* site layout and general styles */
$black: #2F363D;
$grey: #8C8C8C;
$green: #5FBB97;
$light-grey: #E8E8E8;
$light-green: lighten($green, 25%);
body {
  font-family: 'apertura', sans-serif;
  color: $grey;
  font-weight: 400;
}
h1,
h2,
h3 {
  color: $black;
  font-weight: 500;
}
 :focus {
  outline: none;
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header {
  flex: none;
}
.site-body {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
.filter-nav {
  order: -1;
}
.filter-nav,
.ads {
  padding: 1em;
  border-radius: 3px;
}
/* filter navigation styles */
.size-label {
  margin-bottom: 10px;
  h3,
  h4 {
    display: inline-block;
    margin: 0;
  }
  h4 {
    margin-left: 5px;
  }
}
.ui-slider {
  width: 80%;
  background: $light-grey;
  border: none;
  height: 0.3em;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: $green;
  border-radius: 50%;
  border: none;
  top: -.3em;
  height: 1em;
  width: 1em;
  cursor: pointer;
}
.ui-slider-horizontal .ui-slider-range {
  background: $light-green;
}
.gender {
  margin-top: 50px;
  h3 {
    margin-bottom: 10px;
  }
  .input-group {
    margin-left: 10px;
    .control {
      display: block;
      position: relative;
      padding-left: 30px;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 16px;
    }
    .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .control__indicator {
      position: absolute;
      top: 2px;
      left: 0;
      height: 16px;
      width: 16px;
      background: $light-grey;
    }
    .control--radio .control__indicator {
      border-radius: 50%;
    }
    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
      background: $light-green;
    }
    .control input:checked ~ .control__indicator {
      background: $green;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
      background: $green;
    }
  }
}
/* images styles */
.faces {
  img {
    margin: 10px;
    box-shadow: 0px 1px 1px #ccc;
  }
}
@media (min-width: 768px) {
  .site-body {
    flex-direction: row;
    flex: 1;
  }
  .faces {
    flex: 1;
  }
  .filter-nav,
  .ads {
    flex: 0 0 12em;
  }
}
